body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #1F2937;
    
}

.links {
    display: flex;
    gap: 16px;
    padding: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.home {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    width: 800px;
    margin: 75px 100px;
}

.hero-panel {
    width: 350px;
}

.hero1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero2 {
   color: #f0f0f0;
}

.spices {
    width: 500px;
}